* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Clash Display";
  src: url("Assets/ClashDisplay_Complete/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.textos h1, .textos p{
  opacity: 0;
}

h1,
p,
li,
#mobile-menu,
.buuton {
  font-family: "Clash Display", sans-serif;
}

header {
  background-image: linear-gradient(to bottom, black, transparent);
}

.scroll {
  animation: move_918 1.5s linear infinite;
}

@keyframes move_918 {
  0% {
    bottom: 9px;
  }

  50% {
    bottom: 5px;
  }

  100% {
    bottom: 9px;
  }
}

.esq {
  --ang1: 0.6532950466498733deg;
  --ang2: 359.73379611968994deg;
  --ang3: 359.79896306991577deg;

  background: conic-gradient(
    from 90deg at 50% 50%,
    #101010 var(--ang1),
    #313131 var(--ang2),
    #e9e9e9 var(--ang3)
  );
}

.dir {
  --ang1: 0.6532950466498733deg;
  --ang2: 359.73379611968994deg;
  --ang3: 359.79896306991577deg;

  background: conic-gradient(
    from 90deg at 50% 50%,
    #101010 var(--ang1),
    #313131 var(--ang2),
    #e9e9e9 var(--ang3)
  );

  transform: scaleX(-1);
}

.overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.401),
    transparent,
    rgba(0, 0, 0, 0.406)
  );
}
